body {
    font-family: arial;
}
#contenedor {
width: 160px;
border: 5px double white;
	background-color: black;
opacity: 0.8;
padding: lex;
color: white;
}
#contenedor * {
padding: lex;
}
#contenedor h1 {
    background-color: blue;
    font-size: 14pt;
}
.Elemento {
margin: 5px;
	border-style: solid none none none;
	border-width: 1px;
	background-color: grey;
}
