@charset "utf-8";
/* CSS Document */

* { 
	text-indent: 0px; 
	margin: 0px; 
	padding: 0px; 
	border: 0px;
}
a {
	font-size: 16px;
	color: black;
	text-decoration: none;
}
a:link {
	
}
a:visited { 
	color: #999;
}
a:hover {  
	color: #333;
}
body {
	text-align: center;
	background-color: #666666;
	color: inherit;
}
#global {
	background-image: url(imagenes/fondo.gif);
	background-repeat: repeat-y;
	width: 1010px;
	margin: 4px auto; 
}
#cabecera {
	width: 990px;
	background: url(imagenes/header.gif) top repeat-x;
}
.menu{
	width:990px;
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:8e8e8e;
	}
.menu ul{
	background:url(imagenes/menu-bg.gif) top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.menu li{
		float:left;
		padding:0px 8px 0px 8px;
		}
	.menu li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.menu li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.menu li ul{
		background:#e0e0e0;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.menu li:hover ul{
		display:block;
		}
	.menu li li {
		display:block;
		float:none;
		padding:0px;
		width:225px;
		}
	.menu li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.menu li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	.menu p{
		clear:left;
		}	
	.menu #current{
		background-image: url(imagenes/current-on.gif) top left repeat-x;
		color:#ffffff;
		}
#enlacesdescarga {
	background: center url(imagenes/botonsexy1.gif);
	width: 146px;
	font-size: 18px;
	padding-left: 4px;;
	font-weight: bold;
}
#enlacesdescarga a {
	color: #000;
	text-decoration: ;
}
#enlacesdescarga a:link {

}
#enlacesdescarga a:visited {
	color: #999;
}
#enlacesdescarga a:hover {
	color: #999;
}
#texto {
	padding: 0px 50px 0px 50px;
}
#notificaciones {
	width: auto;
	height: auto;
}
#notificaciones li {
	float: left; 
	list-style: none;
	padding-left: px;
	text-align: center;
}
#notificaciones p a {
	font-size:20px;
	padding-left: 10px;
	color: black;
	text-decoration: none;
}
#notificaciones p a:link {
	
}
#notificaciones p a:visited { 
	color: silver;
}
#notificaciones p a:hover {  
	color: #333;
}
#fichas {
	width: 500px;
}
#fichas li{
	list-style: none;
	padding-left: 175px;
	float: none;
	text-align: left;
}
#google {
	padding: 20px 0px 20px 0px;
}
#publi {
	width: 120px;
	float: left;
	height: 600px;
	margin-left: 20px;
	margin-top: 20px;
}
#publi2 {
	width: 120px;
	float: right;
	height: 600px;
	margin-right: 20px;
	margin-top: 20px;
}
#publi3 {
	width: 728px;
	margin-right: 131px;
}
#pie {
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-left: 0px;
	width: 990px;
	background: url(imagenes/pie.gif) bottom repeat-x;
}
#pie li {
	float: left; 
	list-style: none;
	padding-left: 15px;
}
#pie li a {
	font-size: 12px;
	padding-left: px;
	color: black;
	text-decoration: none;
}
#pie li a:link {
	
}
#pie li a:visited { 
	color: ;
}
#pie li a:hover {  
	color: #333;
}
#fichas li a {
	font-size: 16px;
	color: black;
	text-decoration: none;
}
#fichas li a:link {
	
}
#fichas li a:visited { 
	color: silver;
}
#fichas li a:hover {  
	color: #333;
}
h1 {
	font:Cambria
}
h2 {
	font-size: 19px;
	text-decoration: underline;
	color: #333;
}
h3 {
	font-size: 16px;
	text-decoration:none;
	color: #666;
}