@charset "utf-8";
/* CSS Document */

* { 
	text-indent: 0px; 
	margin: 0px; 
	padding: 0px; 
	border: 0px;
}
body { 
	text-align: center;
	background-color: #3BACBE;
	background-image: url(objetos/body-fondo.gif);
	background-repeat: repeat-x;
	color: inherit;
}
#global { 
	width: 990px; 
	margin: 4px auto; 
}
#curva-superior { 
	background-image: url(objetos/curva-superior.gif); 
	background-repeat: no-repeat;
	width: 990px;
	height: 12px;
	overflow: hidden;
}
#cabecera { 
	background-color: white;
	width: 988px;
	position: center;
	border-left: black 1px solid; 
	border-right: black 1px solid;
	}
#navegacion { 
	background-image: url(objetos/navegacion-fondo.gif);
	background-position: bottom;
	height: 43px;
	width: 984px;
	padding-left: 4px;
	border-left: black 1px solid; 
	border-right: black 1px solid;
}
#navegacion li { 
	float: left; 
	list-style: none;
}
#etiquette {
	background-color: rgb(210, 210, 210);
	background-repeat: no-repeat;
	background-image: url(objetos/etiquette.gif);
	height: 43px;
	width: 140px;
}
#etiquette-on {
	background-image: url(objetos/etiquette-on.gif);
	background-repeat: no-repeat;
	height: 43px;
	width: 140px;
}
#navegacion ul { 
	margin-top: 0px;
}
#contenido { 
	background-image: url(objetos/fondo.gif);
	background-repeat: repeat;
	width: 988px;
	border-left: black 1px solid; 
	border-right: black 1px solid;
}
#contenido p { 
	padding: 5px 10px 0px 10px; 
	text-indent: 15px;
}
#menu { 
	width: 150px; 
	float: left; 
    text-align: left; 
	margin: 0px 10px 0px 5px ;
	background-image: url(objetos/menu-fondo.gif);
	background-repeat: repeat-y;
}
#menu li { 
	list-style: none; 
	margin: 4px 0px 4px 0px;
}
#menu h1 { 
	color: blue;
	text-decoration: none; 
	font-size: 12px;
	padding-top: 12px;
    background-image: url(objetos/menu-curva-superior.gif);
}
#menu h6 {
	text-decoration: none;
	font-size: 15px;
	top: auto;
	background-image: url(objetos/menu-curva-inferior.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
#menu h2 { 
	color: blue;
	text-decoration: none; 
	font-size: 12px;
	padding-top: 4px;
}
#menu-on {
	background-image: url(objetos/menu-fondo-on.gif);
	background-repeat: repeat-y;
}
#mensaje {
	width: 812px;
	height: auto;
	margin-left: 166px;
}
#mensaje-fondo {
	background-image: url(objetos/mensaje-fondo.gif);
	background-repeat: repeat-y;
}
#mensaje h1 {
	padding-top: 6px;
	background-image: url(objetos/mensaje-top.gif);
	background-repeat: no-repeat;
}
#mensaje h2 {
	padding-top: 7px;
	background-image: url(objetos/mensaje-top.gif);
	background-repeat: no-repeat;
}
#mensaje h6 {
	text-decoration: none;
	background-image: url(objetos/mensaje-bottom.gif);
	background-repeat: no-repeat;
}
#pie { 
	border-top: black 1px solid;
	border-left: black 1px solid; 
	border-right: black 1px solid;
	height: 60px;
	background-image: url(objetos/pie-fondo.gif);
}
#pieuno { 
	float: left;
	width: 200px;
}
#piedos { 
	float: left; 
	width: 588px; 
}
#pietres { 
	float: left; 
	width: 200px;
}
#curva-inferior { 
	background-image: url(objetos/curva-inferior.gif);
    background-repeat: no-repeat;
    width:990px; 
    height: 12px;
	overflow: hidden;
}
a { 
	color: black; 
	text-decoration: underline; 
	display: block;
}
a:link { 
	
}
a:visited { 
	color: silver;
}
a:hover {  
	color: #333;
}
a:active { 
	color: #009;
}
#menu a { 
	color: #333; 
	text-decoration: none; 
	display: block;
}
#menu a:link { 
	
}
#menu a:visited { 
	
}
#menu a:hover {  
	background-image: url(objetos/menu-fondo-hover.gif);
}
#menu a:active { 
	text-decoration: none;
	background-image: url(objetos/menu-fondo-on.gif);
}
#etiquette a { 
	color: black; 
	text-decoration: none; 
	display: block;
}
#etiquette a:link { 
	
}
#etiquette a:visited { 
	
}
#etiquette a:hover { 
	color: black; 
	text-decoration: none; 
	background-image: url(objetos/etiquette-hover.gif);
}
#etiquette a:active { 
	color: black;
	text-decoration: none;
	background-image: url(objetos/etiquette-active.gif);	
}
#etiquette-on a { 
	color: black; 
	text-decoration: none; 
	display: block;
}
#etiquette-on a:link { 
	
}
#etiquette-on a:visited { 
	
}
#etiquette-on a:hover { 
	color: black; 
	text-decoration: none; 
	background-image: url(objetos/etiquette-hover-on.gif);
}
#etiquette-on a:active { 
	color: black;
	text-decoration: none;
	background-image: url(objetos/etiquette-active.gif);	
}
p { 
	text-align: justify;
}
h1 { 
	font-size: 1.2em; 
	color: blue; 
	font-weight: bold; 
	text-decoration: underline; 
	text-align: center;
}
h2 { 
	font-size: 1.1em; 
	color: blue; 
	font-weight: bold; 
	text-decoration: none; 
	text-align: center;
}
h4 { 
	font-size: 1.2em; 
	color: blue; 
	font-weight: bold; 
	text-decoration: underline; 
	text-align: center;
}