@charset "utf-8";
/* CSS Document */

.desplegable1{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
	.desplegable1 li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.desplegable1 li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.desplegable1 ul{
		background:#e0e0e0;
		margin-left:375px;
		border-top:2px solid #000;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:125px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.desplegable1:hover ul {
		display:block;
		}
	.desplegable1 li {
		display:block;
		float:none;
		padding:0px;
		width:125px;
		}
.desplegable2{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
	.desplegable2 li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.desplegable2 li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.desplegable2 ul{
		background:#e0e0e0;
		margin-left:520px;
		border-top:2px solid #000;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:140px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.desplegable2:hover ul {
		display:block;
		}
	.desplegable2 li {
		display:block;
		float:none;
		padding:0px;
		width:140px;
		}
.desplegable3{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
	.desplegable3 li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.desplegable3 li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.desplegable3 ul{
		background:#e0e0e0;
		margin-left:690px;
		border-top:2px solid #000;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:135px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.desplegable3:hover ul {
		display:block;
		}
	.desplegable3 li {
		display:block;
		float:none;
		padding:0px;
		width:135px;
		}
.desplegable4{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
	.desplegable4 li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.desplegable4 li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.desplegable4 ul{
		background:#e0e0e0;
		margin-left:535px;
		border-top:2px solid #000;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:80px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.desplegable4:hover ul {
		display:block;
		}
	.desplegable4 li {
		display:block;
		float:none;
		padding:0px;
		width:80px;
		}
.desplegable5{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
	.desplegable5 li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.desplegable5 li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.desplegable5 ul{
		background:#e0e0e0;
		margin-left:140px;
		border-top:2px solid #000;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:320px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.desplegable5:hover ul {
		display:block;
		}
	.desplegable5 li {
		display:block;
		float:none;
		padding:0px;
		width:320px;
		}
.desplegable6{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
	.desplegable6 li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.desplegable6 li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.desplegable6 ul{
		background:#e0e0e0;
		margin-left:635px;
		border-top:2px solid #000;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:317px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.desplegable6:hover ul {
		display:block;
		}
	.desplegable6 li {
		display:block;
		float:none;
		padding:0px;
		width:317px;
		}
.desplegable7{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
	.desplegable7 li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.desplegable7 li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.desplegable7 ul{
		background:#e0e0e0;
		margin-left:430px;
		border-top:2px solid #000;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:317px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.desplegable7:hover ul {
		display:block;
		}
	.desplegable7 li {
		display:block;
		float:none;
		padding:0px;
		width:317px;
		}
.desplegable8{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
	.desplegable8 li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.desplegable8 li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.desplegable8 ul{
		background:#e0e0e0;
		margin-left:335px;
		border-top:2px solid #000;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:160px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.desplegable8:hover ul {
		display:block;
		}
	.desplegable8 li {
		display:block;
		float:none;
		padding:0px;
		width:160px;
		}
.desplegable9{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
	.desplegable9 li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.desplegable9 li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.desplegable9 ul{
		background:#e0e0e0;
		margin-left:435px;
		border-top:2px solid #000;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:360px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.desplegable9:hover ul {
		display:block;
		}
	.desplegable9 li {
		display:block;
		float:none;
		padding:0px;
		width:360px;
		}
.desplegable10{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
	.desplegable10 li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.desplegable10 li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.desplegable10 ul{
		background:#e0e0e0;
		margin-left:400px;
		border-top:2px solid #000;
		border-left:2px solid #000;
		border-right:2px solid #000;
		border-bottom:2px solid #000;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:360px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.desplegable10:hover ul {
		display:block;
		}
	.desplegable10 li {
		display:block;
		float:none;
		padding:0px;
		width:360px;
		}